# Игнорирование папки node_modules и её содержимого
node_modules/

# Игнорирование всех файлов с расширением .log
*.log

# Игнорирование файла .env
.env

# Игнорирование папки dist и её содержимого
dist/
